[mysqld]
user                           = %USER%
server-id                      = %ID%
basedir                        = %BASEDIR%
tmpdir                         = %TMPDIR%
port                           = %PORT%
datadir                        = %DATADIR%/%SERVERNAME%

socket                         = %DATADIR%/%SERVERNAME%/mysql.sock
pid_file                       = %DATADIR%/%SERVERNAME%/mysql.pid
log-bin                        = %DATADIR%/%SERVERNAME%/mysql-log-bin
log-bin-index                  = %DATADIR%/%SERVERNAME%/mysql-log-bin.index
log_error                      = %DATADIR%/%SERVERNAME%/error.log
slow_query_log_file            = %DATADIR%/%SERVERNAME%/slow.log

!include ../templates/my.cnf
